{% if settings.preloader_style =='Style_1' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div id="object"></div>
    </div>
  </div>
</div> 
{% endif %}

{% if settings.preloader_style =='Style_2' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
      <div class="object" id="object_big"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_3' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="first_object"></div>
      <div class="object" id="second_object"></div>
      <div class="object" id="third_object"></div>

    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_4' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="first_object"></div>
      <div class="object" id="second_object"></div>
      <div class="object" id="third_object"></div>
      <div class="object" id="forth_object"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_5' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
    </div>
  </div>

</div>
{% endif %}

{% if settings.preloader_style =='Style_6' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
    </div>
  </div>  
</div>
{% endif %}

{% if settings.preloader_style =='Style_7' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute-one">
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
    </div>
    <div id="loading-center-absolute-two">
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_8' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>

    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_9' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_10' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute-one">
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
      <div class="object-one"></div>
    </div>
    <div id="loading-center-absolute-two">
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
      <div class="object-two"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_11' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>

    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_12' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>

    </div>
  </div> 
</div>
{% endif %}

{% if settings.preloader_style =='Style_13' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_14' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_15' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_16' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_17' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>

    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_18' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
{% endif %}

{% if settings.preloader_style =='Style_19' %}
<div id="preloader_active">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
    </div>
  </div>
</div>
{% endif %}


<script>
  $(window).on('load', function() {
    $('#preloader_active').fadeOut('slow');
  }); 
</script>