<div class="product-cart-action pro_dtl_btn">
	{% if product.available %}
		<button type="submit" class="ajax-spin-cart" id="AddToCart">
			<span class="cart-title" id="AddToCartText">{{ settings.cart_button_title }}</span>
			<span class="cart-loading animated infinite rotateOut"><i class="ion-load-a"></i></span>
			<span class="cart-added"><i class="ion-android-done"></i></span>
			<span class="cart-unavailable">{{ settings.unavailable_title }}</span>
		</button>
		<script>
			jQuery('.ajax-spin-cart').click(function (e) {
				e.preventDefault();
				Shopify.addItemFromForm('add-item-form');
			});
		</script>
	{% else %}
		<button class="cart-disable">
			<span class="cart-text">{{ settings.soldout_button_title }}</span>
		</button>
	{% endif %}
</div>
