{% if customer %}
	<a
		class="action-wishlist tile-actions--btn wishlist-btn wishlist"
		href="javascript:void(0)"
		data-product-handle="{{ product.handle }}"
		data-toggle="tooltip"
		data-placement="top"
		title="Wishlist"
	>
		<span class="add-wishlist"><i class="ti-heart"></i></span>
		<span class="loading-wishlist animated infinite rotateOut"><i class="ion-load-a"></i></span>
		<span class="remove-wishlist"><i class="ion-android-close"></i></span>
	</a>
{% else %}
	<a
		class="wishlist"
		href="/account/login"
		title="Wishlist"
		data-toggle="tooltip"
		data-placement="top"
		title="Wishlist"
	>
		<i class="ti-heart"></i>
	</a>
{% endif %}
