<!-- PRODUCT SECTION START -->
{% assign related_product_limit_count = section.settings.related_product_limit_handle %}
{% assign related_product_limit = related_product_limit_count | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign product_found = false %}

{% for c in product.collections %}
{% if product_found == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign product_found = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}

{% endif %}

{% if collection and collection.products_count > 1 and section.settings.related_products_enable %}
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.related_title !='' %}
            <h2 class="heading-home">{{ section.settings.related_title }}</h2>
            {% endif %}
          </div>
        </div>
        <div class="product-related-slider owl-carousel owl-theme" id="related-slider">
          {% assign current_product = product %}
          {% assign current_product_count = false %}
          {% for product in collection.products limit: related_product_limit_handle %}
          {% if product.handle == current_product.handle %}
          {% assign current_product_count = false %}
          {% else %}
          {% unless current_product_count == true and forloop.last %}
          <div class="item">
            {% include 'product-grid-item' %}        
          </div>
          {% endunless %}
          {% endif %}     
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- PRODUCT SECTION END -->

<script>
$('#related-slider').owlCarousel({
  loop: false,
  rewind: true,
  margin: 30,
  nav: true,
  navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
  dots: false,
  {%- if settings.enable_rtl -%}
  rtl: true,
  {%- endif -%}
  autoplay: true,
  sautoplayTimeout: 5000,
  autoplayHoverPause: true,
  responsive:{
    0:{
      items: 2,
      margin: 15
    },
    480:{
      items: 2,
      margin: 15
    },
    768:{
      items: 3
    },
    979:{
      items: 4
    },
    1199:{
      items: 4
    }
  }
});  
</script> 
{% schema %}
{
  "name": "Related Product",
  "settings": [
  {
    "type": "checkbox",
    "id": "related_products_enable",
    "label": "Show Related Product",
    "default": true
  },
  {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type": "range",
    "id": "related_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "related_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 60
  },
  {
    "type": "text",
    "id": "related_title",
    "label": "Section Title",
    "default": "Related Product"
  },
  {
    "type": "header",
    "content": "Product Options"
  },
  {
    "type": "text",
    "id": "related_product_limit_handle",
    "label": "Product Limit",
    "default": "10"
  }
  ]
}
{% endschema %}
<style>
  .related-product {
    padding-top: {{ section.settings.related_padding_top }}px;
    padding-bottom: {{ section.settings.related_padding_bottom }}px;
  }

  @media (max-width: 767px) {
    .related-product{
      padding-top: 40px;
      padding-bottom: 40px;
    }
 }
</style>




