<!-- banner-area start -->
<div class="banner-grid side-banner1">
	<div class="banner-block">
		<a href="{{ section.settings.sidebanner1_url }}" class="banner-hover">
			<img
				class="lazyload"
				src="{% if section.settings.sidebanner1_img %}{{ section.settings.sidebanner1_img | img_url: 'master' }}{% else %}https://via.placeholder.com/300x370{% endif %}"
			>
		</a>
	</div>
</div>
<!-- banner-area end -->
{% schema %}
{
	"name": "Side Banner1",
	"settings": [
		{
			"type": "header",
			"content": "Side banner"
		},
		{
			"type": "range",
			"id": "sidebanner1_padding_top",
			"label": "Section Padding Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30
		},
		{
			"type": "range",
			"id": "sidebanner1_padding_bottom",
			"label": "Section Padding Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30
		},
		{
			"type": "image_picker",
			"id": "sidebanner1_img",
			"label": "Banner Image",
			"info": "Recommended Size: 300px x 370px"
		},
		{
			"type": "url",
			"id": "sidebanner1_url",
			"label": "URL"
		}
	],
	"presets": [
		{
			"name": "Side Banner1",
			"category": "side banner1"
		}
	]
}
{% endschema %}
<style>
	.side-banner1{
	    padding-top: {{ section.settings.sidebanner1_padding_top }}px;
	    padding-bottom: {{ section.settings.sidebanner1_padding_bottom }}px;
	}
</style>
