<section class="section-ptb other-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content-main-title">
          {% if section.settings.terms_condi_title != '' %}
          <h2>{{ section.settings.terms_condi_title }}</h2>
          {% endif %}
        </div>
        <div class="rule-wrap">
          <ul>
            {{ page.content }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Terms And Conditions",
  "settings": [
  {
    "type": "header",
    "content": "Page Title"
  },
  {
    "type": "text",
    "id": "terms_condi_title",
    "label": "Title",
    "default": "Terms & Conditions"
  }
  ]
}
{% endschema %}