/* theme color */
body{
  color: #222222;
}
/*=====================================
tag element
======================================*/
a:hover{
  color: #1b5e20;
}

/* button type */
.btn-style,
.btn-style2,
.btn-style4{
  background-color: #000000;
}

.btn-style:hover,
.btn-style2:hover,
.btn-style3,
.btn-style4:hover,
.btn-style5:hover{
  background-color: #1b5e20;
}


/*=====================================
  review start color
======================================*/
.spr-icon {
  color: #1b5e20;
}

/*=====================================
  scroll up color
======================================*/
a.scroll{
  background-color: #1b5e20;
}
a.scroll:hover {
  color: #1b5e20;
  border: 2px solid #1b5e20;
}

/*=====================================
  notification color
======================================*/
/* currency color */
.top-notification-bar .BOLD-mc-picker > .currentCurrency:hover{
  color: #1b5e20;
}

/* wishlist color */
.wishlist-wrap .wishlist a span.wishlist-counter{
  background-color: #1b5e20;
}

/* accout color */
.user-wrap .acc-desk a.acc-ti:hover{
  color: #1b5e20;
}

/* search color */
.search-wrap .form-search button:hover{
  background-color: #1b5e20;
}

/* mini cart color */
.shopping-widget .shopping-cart a span.cart-icon-wrap span.bigcounter{
  background-color: #1b5e20;
}

/*=====================================
  product tab color
======================================*/
.tab ul.nav-tabs li a.active,
.tab ul.nav-tabs li a:hover{
  background-color: #1b5e20;
}

/*=====================================
  header color
======================================*/
.header-bottom-area{
  background-color: #1b5e20;
}

/* vegamenu color */
.vegamenu-content .vegawrap ul.vega-menu li.menu-link a.link-title:hover,
.vegamenu-content .vegawrap ul.vega-menu li.menu-link ul.dropdown-submenu.sub-menu .submenu-li a.sublink-title:hover,
.vegamenu-content .vegawrap ul.vega-menu li.menu-link ul.dropdown-supmenu li.supmenu-li a.suplink-title:hover{
  color: #1b5e20;
}
@media (max-width: 1199px){
  .vegamenu-content .browse-cat{
    background-color: #fff;
  }
  .vegamenu-content .vegawrap ul.vega-menu li.menu-link a.link-title.link-title-lg[aria-expanded="true"]{
    color: #1b5e20;
  }
}

/* mainmenu color */
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title:hover,
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu li.megamenu-li ul.dropdown-supmenu li.supmenu-li a:hover,
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu li.megamenu-li ul.dropdown-supmenu li.supmenu-li a::before{
  color: #1b5e20;
}

/*=====================================
  main slider color
======================================*/
.slider-content .slider-text-info .search-wrap .form-search input.input-text{
  border: 1px solid #1b5e20;
}
.slider-content .slider-text-info .search-wrap .form-search button,
.home-slider.owl-carousel .owl-nav button:hover{
  background-color: #1b5e20;
}

/*=====================================
  category-banner color
======================================*/
.cat-slider .category-wrap:hover a.cat-title{
  color: #1b5e20;
}

/*=====================================
  breadcrumb color
======================================*/
.breadcrumb-area ul.breadcrumb-list li:last-child {
  color: #1b5e20;
}

/*=====================================
  product button color
======================================*/
.single-product-wrap .product-action a{
  color: #1b5e20;
  border: 1px solid #1b5e20;
}
.single-product-wrap .product-action a:hover{
  background-color: #1b5e20;
}
/*=====================================
  percent count color
======================================*/

.single-product-wrap .product-image .product-label .percent-count{
  background-color: #1b5e20;
}

/*=====================================
  product collection color
======================================*/
.list-product-collection .grid-gallery ul.masonry-items li .img-block:hover a span.button{
 background-color: #1b5e20;
}

/*=====================================
  product list color
======================================*/
.shop-product-list-wrap .product-layout-list .product-content .product-action a{
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
}
.product-list-item .single-product-wrap .product-content .product-action a{
  background-color: #1b5e20;
}
/*=====================================
  product quickview color
======================================*/
.productmodal .modal-dialog .modal-body .quick-view form .quickview-buttons .quickview-btn-cart button,
.productmodal .modal-dialog .modal-body .quick-view form .quickview-buttons .quickview-btn-wishlist a{
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
}

/*=====================================
  sortby css
======================================*/
.product-view-mode .change-view.active,
.product-view-mode .change-view:hover{
  color: #1b5e20;
}

/*=====================================
  pagination color
======================================*/
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li.active a,
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li:hover a{
  color: #1b5e20;
}

/*=====================================
  sidebar css
======================================*/
.shop-sidebar ul.scrollbar .mCSB_inside > .mCSB_container li > .cust-checkbox-label:hover .cust-check:after,
.shop-sidebar ul.scrollbar .mCSB_inside > .mCSB_container li > .cust-checkbox-label .cust-check.active-filter:after{
  color: #1b5e20;
}
.shop-sidebar ul.scrollbar .mCSB_inside > .mCSB_container li.active > .cust-checkbox-label{
  color: #1b5e20;
}
.shop-sidebar ul.scrollbar .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.shop-sidebar.sidebar-filter .filter-selected .tag-selected-filter a,
.sidebar-search-input .form-search button:hover{
  background-color: #1b5e20;
}

/*=====================================
  product detail color
======================================*/
.product_details_info .product-inventory h2 span:last-child{
  color: #1b5e20;
}
.product_details_info .stock-inventory span:nth-child(2){
  color: #1b5e20;
}


/* product amazone button color */
.product_details_info .pro-detail-action .product-actions a.affiliate-product{
  color: #1b5e20;
}

/* product quantity color */
.product_details_info .pro-detail-action .product-actions .pro-detail-button a,.product-cart-action button.ajax-spin-cart{
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
}
.product_detail_img ul.pro-detail-slider .item .product-single__thumbnail.active:before{
  border-color: #1b5e20;
}
.product-service-content .product-service .iconbox-inner .icon{
    color: #1b5e20;
}
/*=====================================
  product detail tab color
======================================*/
.product-description-tab .description-review-text .spr-container .spr-button:focus,
.product-description-tab .description-review-text .spr-container .spr-button:hover,
.product-description-tab .description-review-text .spr-container .spr-summary .spr-summary-actions-newreview:hover{
  background-color: #1b5e20;
}

/*=====================================
  cart color
======================================*/
.cart-page .item-wrap ul li.item-qty .item-remove .remove-wrap a,
.cart-page .cart-buttons input,
.cart-page .cart-buttons a,
.cart-page .cart-total-wrap .culculate-shipping .shipping-info a,
.cart-page .cart-total-wrap .cart-total .proceed-to-checkout a{
  color: #1b5e20;
}

/*=====================================
  wishlist color
======================================*/
.wishlist-page ul li.item-add-remove .item-add a.add-to-cart .cart-title,
.wishlist-page ul li.item-add-remove .item-buy a span,
.wishlist-page .wishlist-buttons a,
.login-wishlist ul li a{
  color: #1b5e20;
}

/*=====================================
  cart and wishlist empty color
======================================*/
.cart-page .empty-cart-page h2 span:nth-child(even),
.wishlist-page .wishlist-grid-empty-list .empty-list-info h2 span:nth-child(even),
.cart-page .empty-cart-page p a,
.wishlist-page .wishlist-grid-empty-list .empty-list-info p a{
  color: #1b5e20;
}

/*=====================================
  blog article color
======================================*/
.single-blog-area .blog-revert ul.blogger-info li span.blog-author span:last-child,
.single-blog-area .blog-revert ul.blogger-info li span.blog-comment span:last-child,
.single-blog-area .blog-content .blog-wrap-desc blockquote,
.single-blog-area .post-info blockquote span,
.single-blog-area .cmt-tit-count h2 span.cmt-count,
.single-blog-area .cmt-info-wrap .comment-info .comment-content .review_info p span.cmt-authr{
  color: #1b5e20;
}
.single-blog-area .post-info-tag ul li a{
  border: 2px solid #1b5e20; 
}
.single-blog-area .post-info-tag ul li a,
.single-blog-area .cmt-info-wrap .comment-info .comment-avtar .avtar-cmt .cmt-auth{
  background-color: #1b5e20;
}
.single-blog-area .blog-comment-form .comments-reply-area .form-wrap .form-filed input:focus,
.single-blog-area .blog-comment-form .comments-reply-area .form-wrap .form-filed textarea:focus{
  border: 1px solid #1b5e20;
}

/*=====================================
  blog color
======================================*/
.blog-slider .blog-post .blog-post-content .date-time,
.blog-post .blog-img .blog-icon:hover{
  background-color: #1b5e20;
}
.blog-slider .blog-post .blog-post-content a.read-btn:hover{
  color: #1b5e20;
}

/*=====================================
  slider arrow color
======================================*/
.cat-slider.owl-theme .owl-nav button:hover,
#feture_pro_tab .swiper-buttons button:hover,
.feature-pro-owl.owl-carousel .owl-nav button:hover,
.blog-slider.owl-carousel .owl-nav button:hover,
.collection-category .collection-slider .owl-nav button:hover,
.product-related-slider.owl-carousel .owl-nav button:hover,
.brand-logo.owl-carousel .owl-nav button:hover,
.deal-slider.owl-carousel .owl-nav button:hover{
  background-color: #1b5e20;
}

/*=====================================
  our service color
======================================*/

/*=====================================
  newsletter subscribe color
======================================*/
.newsletter .subscribe-content .news-content .subscribe-block .email-submit button.news-sub{
  background-color: #000000;
}
.newsletter .subscribe-content .news-content .subscribe-block .email-submit button.news-sub:hover{
  background-color: #1b5e20;
}

/*=====================================
  social icon color
======================================*/
ul.single-service li::after,
ul.single-service li::before,
ul.single-service li.ser-box .ser-block a::after{
  background-color: #1b5e20;
}
ul.single-service li:hover::before{
  background-color: #000000;
}

/*=====================================
  footer color
======================================*/
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a:hover,
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a::before{
  color: #1b5e20;
}

/*=====================================
  footer copyright color
======================================*/

/*=====================================
  Log in and Register color
======================================*/
.customer-page .log-acc-page .login-form-container .form-action-button a,
.customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p a,
.customer-page .log-acc-page .login-form-container .title-text input{
  color: #1b5e20;
}
.customer-page .log-acc-page .acc-page .side-form-wrap .acc-title a{
  color: #1b5e20;
  border: 2px solid #1b5e20;
}
.customer-page .log-acc-page .acc-page .side-form-wrap .acc-title a:hover::after{
  background-color: #1b5e20;
}

/*=====================================
  shopify challenge color
======================================*/
.shopify-challenge__container .shopify-challenge__button{
  color: #1b5e20;
}

/*=====================================
  my account color
======================================*/
/* address css */
.my-account-page .account-history ul li .acc-info-wrap a{
  color: #1b5e20;
}

/* order css */
.my-account-page .order-history-wrap .order-wrap ul li span a{
  color: #1b5e20;
}

/*=====================================
  my account address color
======================================*/
.my-account-page .return-acc-detail a,
.my-account-page .address-wrap ul.cust-address-wrap li.cust-address:hover a.add-more-add{
  color: #1b5e20;
}

/* adress form css */
.my-account-page .address-form p.my-account-checkbox label input:checked ~ .checkmark {
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
}
.my-account-page .address-form p.update-cancel-btn input,
.my-account-page .address-form p.update-cancel-btn a{
  color: #1b5e20;
}

/*=====================================
  my account order color
======================================*/
/* order-ocerview css */
.my-account-page .order-overview ul.order-product li .order-overview-wrap .order-item span a{
  color: #1b5e20;
}

/*=====================================
  payment & return & shipping page color
======================================*/
.other-page .que-ans ul li h6{
  background-color: #1b5e20;
}

/*=====================================
  faq page color
======================================*/
.other-page .que-ans ul li a{
  background-color: #1b5e20;
}

/*=====================================
  search page color
======================================*/
.search-page .page-search-bar form button.page-search-button{
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
}
.search-page .search-list .search-item .search-item-content .search-price .new-price{
  color: #1b5e20;
}

/*=====================================
  404 page color
======================================*/
.page-not-found .search-error-wrapper h1 span:nth-child(odd),
.page-not-found .search-error-wrapper h2 span:nth-child(even),
.page-not-found .search-error-wrapper a{
  color: #1b5e20;
}

/*=====================================
  sitemap page color
======================================*/
.sitemap ul.sitemap-wrap li.sitemap-wrapper a.sitemap-title-link,
.sitemap ul.sitemap-subwrap li.sitemap-subwrapper a.sitemap-title-subtitle{
  color: #1b5e20;
}
.sitemap ul.sitemap-wrap li.sitemap-wrapper a.sitemap-title-link::before,
.sitemap ul.sitemap-subwrap li.sitemap-subwrapper a.sitemap-title-subtitle::before,
.sitemap ul.sitemap-subwrap li.sitemap-sub-wrapper a.sitemap-title-sublink::before,
.sitemap ul.sitemap-supwrap li.sitemap-sup-wrapper a.sitemap-title-suplink::before{
  background-color: #1b5e20;
}