/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small and large mobile :320px. */
@media (max-width: 767px) {
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
}
