/* 
Name: Fusta
Author: HasTech
*/
/* Ajax Spin Cart */
.ajax-spin-cart .cart-loading,
.ajax-spin-cart.add-item .cart-title,
.ajax-spin-cart .cart-added,
.ajax-spin-cart .cart-unavailable {
	display: none;
}
.ajax-spin-cart.loading.add-item .cart-added,
.ajax-spin-cart.loading.add-item .cart-unavailable {
	display: none;
}
.ajax-spin-cart.loading .cart-loading,
.ajax-spin-cart.add-item .cart-added {
	display: inline-block;
}

.modal-open .ajax-spin-cart.add-item .cart-unavailable {
	display: inline-block;
}
.modal-open .ajax-spin-cart.add-item .cart-loading {
	display: none;
}
.modal-open .ajax-spin-cart.add-item .cart-added {
	display: none;
}

/* Wishlist Button */
.wishlist-action a {
	display: inline-block;
}
.action-wishlist .loading-wishlist,
.action-wishlist .remove-wishlist,
a.go-to-wishlist {
	display: none;
}
.action-wishlist.loading-wishlist .loading-wishlist {
	display: inline-block;
}
.action-wishlist.loading-wishlist .add-wishlist,
.action-wishlist.adding-wishlist .remove-wishlist,
.action-wishlist.adding-wishlist + a.go-to-wishlist {
	display: none;
}
.action-wishlist.is-active .add-wishlist {
	display: none;
}
.action-wishlist.is-active .remove-wishlist,
.action-wishlist.is-active + a.go-to-wishlist {
	display: inline-block;
}
.action-wishlist.is-active.adding-wishlist .remove-wishlist,
.action-wishlist.is-active.adding-wishlist + a.go-to-wishlist {
	display: inline-block;
}
.action-wishlist.loading-wishlist.adding-wishlist .remove-wishlist,
.action-wishlist.loading-wishlist.adding-wishlist + a.go-to-wishlist {
	display: none;
}

.language-currency-wrapper ul li.drodown-show {
	margin-bottom: 0;
}
.cart-and-wishlist-btn {
	overflow: hidden;
	position: relative;
}
.wishlist-action {
	border: 1px solid #dddddd;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	position: absolute;
	left: 130px;
	bottom: 0;
	transition: 0.3s;
}
.wishlist-action:hover {
	background: #367384;
	color: #ffffff;
	border: 1px solid #367384;
}
.wishlist-action a {
	transition: all 0s ease 0s;
}
.wishlist-action a:hover i {
	color: #ffffff;
}
#shopify-section-single-product-tab {
}
.main-menu-area ul > li {
	margin-bottom: 0px;
}
.featured-image {
	position: relative;
}
.blog-more-area ul {
	display: inline-block;
}
.leave-comment input {
	width: 100%;
	margin-bottom: 15px;
}
.leave-comment textarea {
	width: 100%;
}
.leave-comment button {
	background: #367384;
	color: #ffffff;
	border-radius: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 14px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: relative;
	display: inline-block;
	padding: 5px 15px;
}
.leave-comment button:hover {
	background: #000000;
	color: #ffffff;
}
.comment-thumb-meta {
	display: block;
	overflow: hidden;
}
.comment-thumb {
	float: left;
	margin-right: 15px;
}
.comnt-author span {
	display: block;
}
.comnt-author span.author-name {
	font-weight: 600;
	font-size: 20px;
}
p.home-link {
	margin-bottom: 30px;
}
.cart-tempty-title {
	display: none;
}

.shopping-cart-wrap ul.cart-item-loop .cart-item {
	display: flex;
	padding-bottom: 15px;
	position: relative;
}
.shopping-cart-wrap ul.cart-item-loop .cart-item .cart-image {
	border: 1px solid #f1f1f1;
	display: block;
	width: 100px;
}
.shopping-cart-wrap ul.cart-item-loop .cart-item .cart-title {
	padding-left: 15px;
}
.shopping-cart-wrap ul.cart-item-loop .cart-item .cart-title h4 {
	font-size: 15px;
	font-weight: 500;
}
.cart-item-loop {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.subtotal-price {
	margin-top: 10px;
}
.shopping-cart-wrap ul.cart-item-loop .cart-item .cart-title .price-box {
	color: #367384;
	font-weight: 500;
	padding-left: 25px;
}
.shopping-cart-wrap
	ul.cart-item-loop
	.cart-item
	.cart-title
	.price-box
	.old-price {
	color: #666;
	text-decoration: line-through;
}
.shopping-cart-wrap .subtotal-titles .subtotal-titles {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}
.shopping-cart-wrap .subtotal-titles .subtotal-titles h3 {
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	line-height: 20px;
	margin: 0;
}
.main-menu-area .mega-menu {
	margin: 0;
}
.main-menu-area .mega-menu > li ul {
	margin: 0;
}
.main-menu-area .mega-menu li ul li.mega-menu-title {
	padding: 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}
.leave-comment button {
	padding: 8px 15px;
	margin-top: 15px;
}
.comment-form-author,
.comment-form-email {
	width: 50% !important;
}
/*Search Page */
.search-page hr.hr--clear {
	border-top: 1px solid #dddddd;
}
.page-search-title {
}
.page-search-bar input {
}
.page-search-bar {
}
.page-search-bar .page-search-button {
}
.search-item {
}
.search-item-image {
}
.search-item-content {
}
.search-price {
}
.search-blog-item {
}
.search-blog-item .search-blog-title {
}
.page-search-pagination {
}
.login-toggle-btn a {
	color: #191919;
}
.login-toggle-btn a:hover {
	color: #367384;
}
.list-product-collection {
	padding: 100px 0;
}
.collection-page-area {
	margin-bottom: 100px;
}
.collection-page-area:last-child {
	margin-bottom: 0px;
}
.collection-page-area hr {
	display: none;
}
.main-menu-area .sub-menu {
	margin: 0;
}
.search-post input,
.comment-form-comment .comment-notes,
.comment-input input {
	border-radius: 0;
}

.theme-default-button {
	background-color: #000;
}
.theme-default-button:hover {
	background: #367384;
}
div#wrapper-response {
	margin-top: 15px;
}
span.amount {
	font-weight: 600;
}
.cart-buttons {
	margin-top: 50px;
}
.spr-icon {
	color: #367384;
	color: #367384;
	margin-right: 5px;
	font-size: 12px !important;
}
.wishlist-action {
	border: 0px solid #dddddd;
	line-height: 39px;
	width: inherit;
}
.wishlist-action:hover {
	border: inherit;
}
.language-currency-wrapper ul.open-dropdown {
	width: 200px;
	margin: 0;
}
.mobile-menu .mean-bar .mean-nav > ul li {
	margin-bottom: 0;
}
.hero-slider-one .slider-text-info h1 {
	font-weight: 700;
}
.about-contents .shop-btn-two {
	text-transform: uppercase;
}
.menu-opacity {
	background: #ffffff;
	left: 0;
	padding: 15px;
	position: absolute;
	text-align: left;
	width: 180px;
	z-index: 99;
	top: 120%;
	visibility: hidden;
	opacity: 0;
	-ms-filter: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.contact-submit-btn .submit-btn {
	margin-bottom: 20px;
}
