<div id="wk_compare_listing" customer-id="{{ customer.id }}" style="position:relative">
	<img
		style="position:absolute;top:0;bottom:0;right:0;left:0;margin:auto"
		alt="Loading"
		src="https://sanjay.webkul.com/shopify-product-comparison/images/loader/loader.gif"
		class="wk_ajax_loader"
	>
</div>
